* {
    color: mediumaquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}

#directions {
    text-align: center;
    font-size: 40px;
   
}

.start-page {
    text-align: center;
}

#startBtn {
    width: max-content;
}

button {
    color: purple;
    font-size: 50px;
    height: 70px;
    width: 200px;

}
.hide {
    display: none;
}

#hide {
    display: none;
}

.toptext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#highscore {
    text-align: left;
    font-size: 20px;
    color: blueviolet;
    text-decoration: none;
}

#countdown {
    text-align: right;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#time-unit {
    text-align: right;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#time-left-text {
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 40px;
}

/*
.question {
    display: inline-flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}
*/
.answer-choices {
    display: flex;
    margin: 4px;
    width: 100%;
    font-size: 20px;
    border: 2px solid mediumaquamarine;
    background-color: white;
}

.answer-choices:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-letter {
    padding: 8px;
    background-color: mediumaquamarine;
    color: white;
}

.choice-text {
    padding: 8px; 
}
