* {
    color: mediumaquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}
#directions {
    text-align: center;
    font-size: 40px;
   
}
.toptext {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#countdown {
    text-align: right;
    font-size: 40px;
}

#highscore {
    text-align: left;
    font-size: 40px;
}
#choices {
    display: inline-flex;
    flex-direction: column;
}

button {
    color: purple;
    font-size: 50px;
    height: 70px;
    width: 200px;

}
  